/*--------------------*/
/*<---general------->*/
/*------------------*/

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: content-box;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  transition: transform 1s ease;
  overflow: hidden;
}

/*-------------------*/
/*<---section-one--->*/
/*------------------*/

.section-one {
  background-color: #000;
  background-image: url(../source/img/resources/151.png);
  background-position: center;
  background-size: cover;
}

/*<---nav--->*/

header {
 position: relative;
 padding: 0 2rem;
  background-color: transparent;
}

nav {
  width: 100%;
  height: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

#titulo {
  position: relative;
  width: 13rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

#titulo img {
  position: relative;
  z-index: 1;
  max-height: 100%;
  color: #fff;
}

#titulo::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    transparent 30%,
    transparent 100%
  );
  background-size: 200% 100%;
  transition: 1.2s;
}

#titulo:hover::before {
  background-position: -120% 0;
}


#titulo a{
  margin-left: 0.5rem;
  color: #fff;
}

.menu {
  display: flex;
}

.menu li a {
  font-size: 1rem;
  background-color: white;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    transparent 30%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1.2s;
}

.menu li a:hover {
  background-position: -120% 0;
}

nav .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: fixed;
  right: 1rem;
  top: 3rem;
  width: 10rem;
  background: rgba(240, 233, 233, 0.4);
  backdrop-filter: blur(0.2rem);
  overflow: hidden;
  max-height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0.5rem;
  z-index: 99;
}

.dropdown-menu li {
text-align: center;

}

.dropdown-menu li a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu.open {
  max-height: 14rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*<--content-section-one-->*/

.content-section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.text-central {
  padding-top: 4rem;
}

.text-central-container {
  padding-left: 30px;
  justify-content: center;
  min-height: 20rem;
  max-width: 28.125rem;
}

.text-central-container span {
  margin-left: 5%;
  font-size: 50px;
  color: white;
  font-family: "italic";
}

.text-central-container h1 {
  margin-left: 5%;
  font-size: 2.5rem;
  color: white;
  font-family: "helvetica";
}

.text-central p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  color: white;
  line-height: 1.3;
}
.multiTex {
  color: rgb(107, 218, 255);
}

.btns {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.botones button,
.botones a button {
  margin: 1rem;
  min-width: 100px;
  max-height: 40px;
  border: none;
  margin-right: 10px;
  padding: 12px;
  cursor: pointer;
  background: white;
  transition: 0.5s ease;
  border-radius: 10px;
  text-decoration: none;
}

.botones button:hover,
.botones a:hover button {
  background: transparent;
  border: 0.5px solid white;
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 1px white;
  border-radius: 10px;
  color: white;
}

.img-central {
  padding-top: 4rem;
  width: 22rem;
}

.img-central img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  right: 20%;
}

/*-------------------*/
/*<---section-two--->*/
/*------------------*/



.slide-container {
  position: relative;
  overflow: hidden;
  display: flex;
  max-width: 300%;
  height: 100%;
}

.slide {
  max-height: 100vh;
  min-width: 100vw;
  transition: transform 1s ease;
  overflow: hidden;
}



/*<---two-slide-one--->*/

.two-titule-slide-one {
  position: relative;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.two-titule-slide-one h1 {
  text-align: center;
  font-size: 2.5rem;
}

.two-titule-slide-one p {
  text-align: center;
  padding-top: 0.5rem;
  color: #9b9b9b;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.app-pages{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - 4.375rem);
  justify-items: center;
  align-items: center;
}


.mockups {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: auto;
  justify-content: center;
  align-items: center;
}

.mockups img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  right: 20%;
}

.mockups a {
  color: #6e5494;
  text-decoration: none;
}

.mockups h3,
.mockups span,
.mockups a {
  margin: 0.2rem 0;
}

.web-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.collage img {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 10rem;
    object-fit: cover;
}

.web-repo a {
  color: #6e5494;
  text-decoration: none;
}

.web-repo h3,
.web-repo span,
.web-repo a {
  margin: 0.2rem 0;
}

/*<---two-slide-two--->*/

.two-slide-two {
  background-color: white;
}

.two-slider-two-galeri {
  display: flex;
  height: 18rem;
  gap: 0.8rem;
  margin: 4rem;
  top: 0;
}

.two-slider-two-galeri > div {
  flex: 1;
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto cover;
  transition: all 0.8s cubic-bazier(0.25, 0.4, 0.45, 1.4);
}

.two-slider-two-galeri > div:hover {
  flex: 8;
}
/*---------------------*/
/*<---section-three--->*/
/*--------------------*/



/*<---three-slide-one--->*/

.section-three{
  background: black;
}


.logo {
  height: 6rem;
  padding-top: 2rem;
  text-align: center;
  background: black;
}

.logo h1 {
  font-size: 2rem;
  color: white;
}

.logo p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}


.divide-Row {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: calc(100vh - 8rem);
}



/*<--three-menu-slide-one-->*/

.screen {
  border-top-left-radius: 2rem;
  background: white;
}

.menu-section-three {
  margin-top: 1.5rem;
  height: auto;
  width: 100%;
}

.menu-section-three .categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-section-three .categorias a {
  color: #9b9b9b;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.categorias a.activo {
  color: black;
}

/*<--grid-cards-skills-->*/

.cards-skills {
  background: white;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  gap: 2rem;
  padding: 1rem;
  padding-left: 2.5rem;
  height: auto;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}


.skills {
  background: rgba(0, 0, 0, 0.11);
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.096);
}

.skills:hover {
  translate: 0 -1rem;
  box-shadow: 0.5rem 1rem 1rem rgba(71, 71, 71, 0.267);
  
}

.div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.skills-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: center;
}

/*<---three-slide-two--->*/

.three-slide-two {
  background-color: aqua;
}



/*---------------------*/
/*<---section-four--->*/
/*--------------------*/

/*<---four-waves--->*/

section.four-waves {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  z-index: 1;
}

div.wavefooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../source/img/resources/wave1.svg");
  background-size: 1000px 100px;
}

div.wave-one {
  animation: animate 30s linear infinite;
  z-index: 50;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

div.wave-two {
  animation: animate2 15s linear infinite;
  z-index: 45;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

div.wave-three {
  animation: animate 20s linear infinite;
  z-index: 40;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

div.wave-four {
  animation: animate2 5s linear infinite;
  z-index: 35;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

#contact-button {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  background-color: black;
  height: calc(100vh - 20vh);
  max-width: 100vw;
}


.b-bg {
  margin-top: 0;
  background-image: url(../source/img/resources/8.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  height: calc(100vh - 20vh);
  overflow: hidden;
}

div.footer-content {
  width: 100%;
  justify-content: space-around;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}


div.hthre-titule {
  font-size: 3em;
  color: white;
}

div.datos{
  margin-left: 0.5rem;
}


/*<----button=hover----->*/

.boton-contact button {
  margin: 1rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  min-width: 10rem;
  max-height: 2.5rem;
  border: none;
  box-sizing: border-box;
  padding: 12px;
  cursor: pointer;
  background: white;
  transition: 0.5s ease;
  border-radius: 10px;
  justify-content: center;
}

.boton-contact button:hover {
  background: transparent;
  border: 0.5px solid white;
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 1px white;
  border-radius: 10px;
  color: white;
}


div.footer-two {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 1rem;
}

ul.social {
  margin: 1rem;
  margin-bottom: 2rem;
  position: relative;
  margin-top: 10rem;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}

ul > li {
  padding: 1rem;
  overflow: hidden;
}

a.footer-text {
  background-color: white;
  text-decoration: none;
  color: white;
  white-space: pre;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    transparent 30%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1.2s;
}

.footer-text:hover {
  background-position: -120% 0;
}

div.datos {
  margin-top: 40px;
  color: white;
}

/*<------------- RESPONSIVE DESING ------------>*/
/*<-- Estilos para pantallas menores a 600px -->*/


@media (max-width: 600px) {

  .menu {
    display: none;
  }

  nav .toggle-btn{
    display: block;
  }

  .dropdown-menu{
    max-height: 0;
    display: block;
  }


  .content-section-one {
    flex-direction: column;
  }

  .text-central {
    margin-top: 1rem;
    z-index: 3;
  }

  .img-central {
    position: fixed;
    padding-top: 4rem;
    width: 15rem;
    top: 42%;
  }

  .img-central img {
    width: 19rem;
    height: auto;
  }

  .dropdown-menu li {
    display: block;
  }

  .two-titule-slide-one {
    margin-top: 1rem;
  }

  .app-pages {
    grid-template-columns: 1fr;
  }

  .mockups {
    width: 17rem;
  }

  .collage {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .collage img {
    width: 8rem;
    border-radius: 0.5rem;
  }

  .web-repo{
    align-self: start;
  }

}


@media (max-width: 450px) {

  .dropdown-menu {
    left: 1rem;
    width: unset;
  }

  .cards-skills {
    grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
    height: auto;
  }
}
